@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;

}

body {
  background-color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
}

header {
  width: 100%;
  background-color: #e044c3;
}

nav button,
a {
  width: 150px;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ffff;
  text-align: center;
  padding: 15px;
  transition: .3s;
}

nav button:hover,
a:hover {
  background-color: #e365cc;
}


nav ul {
  display: flex;
  justify-content: end;

}

ul li {
  display: flex;
  justify-content: space-between;
}

button {
  width: 10%;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}


#btnfechar {
  background-color: #e733b4;
  padding: 5px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 1, .9);
  color: white;
  margin-top: 15px;
  width: 100px;
  margin-bottom: 50px;
  margin-left: 8%;


}




.botao {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;

}

.botao button {
  background-color: #e733b4;
  padding: 5px;
  text-decoration: none;
  box-shadow: 0 5px 10px rgba(0, 0, 1, .9);
  color: white;
  margin-top: 15px;
  width: 100px;
  margin-bottom: 50px;
}

label {
  font-weight: bold;
  margin-left: 5%;
}

.saidas {
  margin: auto;
  width: 80%;
}

.saiu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  width: 40%;
  height: 50%;
  /* text-align: center; */
  background-color: rgb(183, 34, 128);
  box-shadow: 0 5px 10px rgba(0, 0, 1, .9);

}

.saiu p,
h3 {
  color: #ffff;
  margin-top: 10px;
}

.saiu h1 {
  color: #ccc;
  border-bottom: 1px solid white;
}

.closeSaida i {
  background-color: #e733b4;
  padding: 8px;
  border-radius: 50%;
  margin-bottom: 8%;
}




.rdo {
  max-width: 800px;

}

.rdo h1 {
  margin-bottom: 3%;
  font-family: 'Courier New', Courier, monospace;

}

.itens {
  display: none;
  max-height: 80%;
  text-align: center;
  border-radius: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-image: linear-gradient(rgba(255, 0, 225, 0.886), rgba(231, 106, 185, 0.911))
}

.itens input {
  display: flex;
  margin: auto;
  margin-bottom: 5%;
}

.itens p {
  margin-top: 15px;
}

form {
  border-radius: 14px;
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-image: linear-gradient(rgb(255, 0, 225), rgba(255, 177, 226, 0.911))
}

#print input[type="text"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}


#minhaLista {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: 20%;
}

#minhaLista p {
  text-decoration: underline;
  word-wrap: break-word;
  font-weight: lighter;
  margin-left: 5px;
  margin-top: 5px;

}

h2 {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 5px;
}



h4 {
  color: rgb(249, 249, 249);
}


@media (max-width: 768px) {
  button {
    width: 20%;
  }



  form {
    /* display: none; */
    position: absolute;
    width: 100%;
    height: 80vh;
    border-radius: 0;

  }

  .saiu {
    position: absolute;
    z-index: 2;
    width: 85%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
  }

  .saiu h1 {
    color: #ccc;
    border-bottom: 1px solid white;
    font-size: 1rem;
  }


}

@media (max-width: 480px) {
  button {
    width: 30%;
  }
}